<div class="table-result">
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Tipo de Pérdida de Audición</th>
      <th>Tratamientos Previos</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patientsData">
      <td>{{ patient.name }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.email }}</td>
      <td>{{ patient.typeOfHearingLoss }}</td>
      <td>{{ patient.previousTreatments }}</td>
    </tr>
    </tbody>
  </table>
</div>
