.wrapper-profile{
  display: flex;
  width: 100%;


    .form-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      border-radius: 8px;
      flex: 1;
      background-color: white;
      padding: 20px;


      h1 {
        margin: 0 0 20px;
        font-size: 24px;
      }

      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;

        .form-group {
          text-align: left;
          margin: 10px 0;

          label {
            font-size: 14px;
            display: block;
          }

          input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
        }
      }
    }


  .pdf-img-profile{
    width: 50%;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;


    .img-profile{
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-profile-show {
      position: relative;
        img {
          height: 350px;
          width: 350px;
        }
      }
      .img-upload{
        position: absolute;
        bottom: 10px;
        right: 10px;
        img {
          height: 50px;
          width: 50px;
        }
      }
    }

    .pdf{
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input{
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
      }

      button{
        width: 50%;
        background-color: #0077FF;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
      }
    }

  }
}


//.form-image {
//  display: flex;
//  align-items: center;
//
//  .form-upload-image {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    text-align: center;
//    width: 100%;
//    height: 60px;
//    cursor: pointer;
//    border-radius: 4px;
//    margin: 10px 0 10px 0;
//    color: theme-palette-color('grays', 400);
//    border: 1px dashed theme-palette-color('grays', 300);
//
//    &:hover {
//      border: 1px dashed theme-palette-color('color', 'primary');
//    }
//
//    a {
//      color: deepskyblue;
//    }
//  }
//
//  input[type="file"] {
//    display: none;
//  }
//
//}
