<div class="login-container">
  <div class="login-form">
    <h1>Iniciar Sesión</h1>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input formControlName="email" type="text" id="username" name="username" placeholder="Usuario" appValidateErrors>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input formControlName="password" type="password" id="password" name="password" placeholder="Contraseña">
      </div>
      <button type="submit" [disabled]="login.invalid">Ingresar</button>
    </form>
  </div>
  <div class="login-image">
    <img src="assets/images/auth/login1.png" alt="Imagen de inicio de sesión">
  </div>
</div>
