.reminder-container {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.close-profile {
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 12px;
  z-index: 2;

  em {
    font-size: 20px;
    cursor: pointer;
    color: gray;
  }

  em:hover {
    color: red;
  }
}

.reminder-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  justify-content: space-between;

  h2 {
    font-size: 24px;
  }

  ul {
    width: 300px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;

      button {
        border: none;
      }

      .btn-edit-reminder {
        background-color: #0077FF;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 6px 10px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          background-color: #0055CC;
          outline: none;
        }
      }
    }
  }

  button {
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;

    &:hover {
      background-color: #0055CC;
    }
  }
}

.reminder-agg {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  min-height:  cal(100% -100px);
  margin-top: 100px;

  h2 {
    font-size: 24px;
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .form-reminder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-size: 16px;
      margin: 10px 0;
    }

    select {
      width: 100%;
      max-width: 300px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 5px 0;
      background-color: white;
      color: #333;
      font-size: 16px;
      cursor: pointer;

      option {
        background-color: white;
        color: #333;
        font-size: 16px;
      }

      &focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }


    input{
      width: 100%;
      height: 90px;
      max-width: 300px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 5px 0;
    }

    .button-container {
      margin-top: 20px;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      height: 100%; /* Asegura que ocupe el 100% del espacio vertical */

      .btn-letf {
        width: 20%;
        text-align: center;

        .btn-estandar {
          background-color: #0077FF;
          color: #fff;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
          font-size: 16px;
          width: 80%; /* Ajusta el ancho del botón si es necesario */
        }
      }

      .btn-save-reminder {
        width: 80%;
        text-align: center;

        .btn-estandar {
          background-color: #0077FF;
          color: #fff;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          cursor: pointer;
          font-size: 16px;
          width: 80%; /* Ajusta el ancho del botón si es necesario */
        }
      }
    }

  }
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}
