.test-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .sound-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      width: 80%;
    }
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;

    .option {
      width: 45%;
    }
  }

  .hearing-button {
    margin: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-size: 18px;

    &:hover {
      background-color: #2980b9;
    }
  }

}
