<div class="test-interface">
  <div class="sound-player">
    <img src="assets/images/audio.png" alt="">
  </div>

  <div class="options">
    <div class="option">
      <button id="rightEar" class="hearing-button" value="right">Escuché por el oído derecho</button>
    </div>

    <div class="option">
      <button id="leftEar" class="hearing-button" value="left">Escuché por el oído izquierdo</button>
    </div>

  </div>
  <div class="option">
    <button id="noSound" class="hearing-button" value="none">No escuché nada</button>
  </div>

</div>
