



<div class="wrapper-graph-user">

  <div class="profile-graph">
  <h2>Ultima prueba realizada</h2>
    <div class="user-profile">
      <div class="user-avatar">
        <img src="assets/images/user-profile.png" alt="Foto de perfil">
      </div>
      <div class="user-info">
        <h1>Sebastian León</h1>
        <p>Correo Electrónico: jsleono@ufpso.edu.co</p>
      </div>
    </div>

  </div>
  <div class="graph">
    <div>
      <canvas #monthlySalesGraph height="300px" width="300px"></canvas>

    </div>

    <div>
      <canvas #monthlySalesGraph1 height="200px"></canvas>

    </div>

  </div>

</div>

