.wrapper-graph-user{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .profile-graph{
    width:  50%;

    h2{
      text-align: center;
    }

    :host {
      display: block;
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
    }

    .user-profile {
      max-width: 400px;
      margin: 50px auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;

      .user-avatar {
        display: flex;
        justify-content: center;

        img {
          width: 70%;
          display: block;
          margin-right: 10px;

        }
      }

      .user-info {
        text-align: center;
        padding: 20px;

        h1 {
          margin-top: 0;
        }

        p {
          margin: 10px 0;
          color: #555;
        }
      }
    }

  }

  .graph{
    width: 50%;
  }
}
