<div class="certificate">
  <div class="close-profile">
    <em class="fa fa-close" (click)="close()"></em>
  </div>
  <div class="background-certificate">
    <img src="assets/images/certificado1.png" alt="">
  </div>
  <div class="certificate-inf">
    <h1>Certificado de Audición</h1>
    <p>Por la presente, certificamos que</p>
    <h2>{{ nombreUsuario }}</h2>
    <p>ha completado con éxito la prueba de audición numérica y ha demostrado tener una excelente capacidad auditiva.</p>
    <p>Felicidades por cuidar de tu salud auditiva.</p>
    <div class="signature">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Firma del Audiometrista">
      </div>
      <div class="firma">
        <span><i>Sound Good</i></span>
      </div>
    </div>
  </div>
</div>
