

<div class="wrapper-test-numeric">

  <div   class="display">
    <form [formGroup]="test">
    <input formControlName="input_numbers" type="text" id="userInput" #userInput (input)="onInputChange(userInput)">
      <img (click)="playAudio()" src="assets/images/reload.png" alt="">
    </form>
  </div>


  <div class="buttons">
    <div class="row-number">
      <button (click)="appendToInput('1', userInput)">1</button>
      <button (click)="appendToInput('2', userInput)">2</button>
      <button (click)="appendToInput('3', userInput)">3</button>
    </div>
    <div class="row-number">
      <button (click)="appendToInput('4', userInput)">4</button>
      <button (click)="appendToInput('5', userInput)">5</button>
      <button (click)="appendToInput('6', userInput)">6</button>
    </div>
    <div class="row-number">
      <button (click)="appendToInput('7', userInput)">7</button>
      <button (click)="appendToInput('8', userInput)">8</button>
      <button (click)="appendToInput('9', userInput)">9</button>
    </div>
    <div class="row-number">
      <button (click)="appendToInput('0', userInput)">0</button>
    </div>
  </div>

  <div class="send-button">
    <button (click)="sendTest()">Enviar</button>
  </div>
</div>
